@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div style="margin-top: 30px;">
        <a asp-controller="Student" asp-action="List" class="btn btn-primary btn-lg">
            Go to Student Management System
        </a>
    </div>
</div>